<div class=main-container>
  <div class=header>
    <h1><%= @group.name %></h1>
  </div>

  <div class=body-container>
    <div class=body-left>
      <div class=box>
        <form>
          <option value="$">Dollar</option>
          <option value="DKK">Kroner</option>
        </form>
      </div>

      <div class=box>
        Some things
      </div>
      <div class=square>
      </div>

    </div>
    <div class=body-right>
      <div class=box>
        Some more things
      </div>
    </div>
  </div>

  <div class=footer>
    <div class=footer-text>
      interesting things here.
    </div>
  </div>
</div>
